{% extends 'hostel\base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>📢 My Complaints</h2>

  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>Student</th>
        <th>Subject</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for complaint in complaints %}
      <tr>
        <td>{{ complaint.student.user.username }}</td>
        <td>{{ complaint.subject }}</td>
        <td>{{ complaint.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
